@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#hero {
  background: center / contain no-repeat url('https://cdn.midjourney.com/8bbc3641-efc2-437a-975f-e74e46cec6fa/0_0.png');
  object-fit: fill;
  background-size: 100% 100%;
}
